{% extends "base.html" %}

{% block title %}
{{ batch.name }}
{% endblock %}

{% block content %}

<section class="batch-header">

<img src="{{ batch.banner }}">

<div>

<h1>{{ batch.name }}</h1>

<p>{{ batch.description }}</p>

</div>

</section>

<section class="subjects">

<h2>Subjects</h2>

<div class="grid">

{% for subject in subjects %}

<a
class="subject-card"
href="/subject/{{ batch.id }}/{{ subject.id }}"
>

<img src="{{ subject.icon }}">

<h3>{{ subject.name }}</h3>

</a>

{% endfor %}

</div>

</section>

{% endblock %}
